body {
    color: #dbdbdb; /* text color */
    background-color: #212121; /* no need for an explanation */
    margin: 1em auto; /* this controls padding...? */
    max-width: 40em; /* this too...? */
    font: 1.2em/1.62 sans-serif; /* font size and type */
    padding: 0 0.92em 3.24em; /* this also controls padding...? */
}

h1::first-letter { /* change the first letter color of all h1 tags */
	color: #3467eb;
}

p {
	padding: 10px;
}
