<!DOCTYPE HTML/>
<html lang="eng"/>
<head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>V8's Website | Gallery</title>
        <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Gallery</h1>
    <p>Some of my favorite pictures i have taken.</p>

    <h3>Jump to category</h3>
    <ul>
	<li><a href="#cars">Cars</a></li>
        <li><a href="#other">Other</a></li>
        <!-- href is the source we want to "redirect" the user to. in thise case, were "redirecting" the user to one of the div's below -->
    </ul>


    <div id="cars">
    <h2>Cars</h2>
    
    <p>A drawing of a car, by me. Lamborghini Centenario LP 770-4.</p>
    <img src="/static/images/IMG_20220520_164142_737_transcpr.jpg" alt="Lamborghini Centenario LP 770-4 drawing">
    <!-- src is the filename of the image, alt is the alternative text, the description of the image, lets say -->

    <p>A few screenshots from <abbr title="Car Parking Multiplayer">CPM</abbr></p>
    <img src="/static/images/Screenshot_20240523-184600_Car Parking.png">
    <img src="/static/images/Screenshot_20240522-143629_Car Parking.png">
    <img src="/static/images/1000056472-01.jpeg">
    </div>

    <hr />
    
    <div id="other">
    <h2>Photography</h2>
    
    <p>A close-up photo of a flower.</p>
    <img src="/static/images/V8's KF7j_20230724_1302158910.jpg">
    </div>
    
    <!-- <div class="category-3"> -->
    <!-- <p>Placeholder text</p> -->
    <!-- <img src="/static/images/"> -->
    <!-- </div> -->
    
    <!-- <div class="category-4"> -->
    <!-- <p>Placeholder text</p> -->
    <!-- <img src="/static/images/"> -->
    <!-- </div> -->
</body>
</html>
