<!DOCTYPE HTML/>
<html lang="eng"/>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>My Devices</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body>
		<h1>Device stats</h1>
		<h2>Device Count</h2>
		<ol>
			<li>7</li>
		</ol>

		<h1>Device Profiles</h1>
		<ol>
			<li>1</li>
		</ol>
		<h2>Tecno Spark 7P</h2>

		<h1>Software Information</h1>
		<p>Year of Release: 2021</p>
		<p>Android Version: Android 11 (R) based on HiOS 7.6 *currently running Android 14 (U) based on AOSP as the device had no significant updates reaching EOL at 2023Q1</p>
		<p>Kernel= v4.14.186-dirty (No Upstream. Reason stated above)</p>
		<p>Slot Count= 2</p>


		<h1>Hardware Information</h1>
		<p>My Storage Configuration</p>
		<ol>
			<li>64GB ROM EMMC 5.1</li>
			<li>4GB RAM DUAL CHANNEL LPDDR4X rated @1800MHZ</li>
		</ol>
		<h2>Processor: Mediatek Helio G70 (MT6769V/CB)</h2>
		<p>Chip Size= 12nm</p>
		<p>Core Count= 8</p>
		<p>Architecture: 64bit</p>
		<p>Supported ABIs: arm64-v8a armeabi-v7a armeabi</p> 
		<p>big.LITTLE: Supported</p>
		<p>Cluster Count= 2</p>
		<p>Frequency Cluster 1=</p>
		<ol>
			<li>500MHZ - 1700MHZ Cortex-A55 X6</li>
		</ol>
		<p>Frequency Cluster 2=</p>
		<ol>
			<li>850MHZ - 2000MHZ Cortex-A75 X2</li>
		</ol>
		<p>CPU Governor: Schedutil</p>

		<h2>GPU: Mali G52-MC2</h2>
		<p>Vendor: ARM</p>
		<p>Governor: coarse_demand</p>
		<p>Architecture: Bifrost</p>
		<p>Core Count= 2</p>
		<p>Bus Width= 128bits</p>
		<p>Total L2 cache size= 256kb</p>
		<p>OpenGL Support: Yes</p>
		<p>OpenGL Version= 3.2</p>
		<p>Vulkan Support: Yes</p>
		<p>Vulkan API Version= 1.1</p>

		<h2>Display</h2>
		<p>Resolution: 1640x720 @720p
		<p>Display Modes</p>
		<ol>
			<li>1640x720 @60hz</li>
			<li>1640x720 @90hz</li>
		</ol>
		<p>Display Density= 320 dpi (xhdpi)</p>
		<p>Display Length= 6.8" inches/173mm
		<p>Aspect Ratio: UNCONFIRMED</p>

		<h2>Audio</h2>
		<p>Sound card: mt6768-mt6358</p>
		<p>Low Latency Audio: Supported</p>
		<p>MIDI</p>

		<h2>Misc. Hardware Features</h2>
		<p>USB Host/ OTG Support: Yes</p>
		<p>Fingerprint: Yes. (Rear Mounted)</p>
		<p>Face Detection: Yes</p>
		<p>GPS: Supported along with A-GPS (Assisted GPS)</p>
		<p>Ambient Light Sensor (Auto Brightness)</p>
		<p>Sensor Count= 11+1 (Temperature Sensors)</p>
		<p>Sensors:</p>
		<ol>
			<li>Accelerometer</li>
			<li>Light</li>
			<li>Proximity-Max Range= 10cm</li>
			<li>Step Detector</li>
			<li>Step Counter</li>
			<li>SIGNIFICANT_MOTION</li>
			<li>TILT_DETECTOR</li>
			<li>WAKE_GESTURE</li>
			<li>STATIONARY_DETECT</li>
			<li>MOTION_DETECT</li>
			<li>Step Detector</li>
		</ol>
	</body>
</html>
